body {
    background-color: darkgray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.form-control {
    max-width: 550px;
    border-radius: 5px;
}

.ProductName {
    background-color: whitesmoke;
    padding: 12px;
    display: inline;
    border-radius: 5px;
    margin-bottom: 5px;
    user-select: none;
    cursor: pointer;
}

.purchased {
    text-decoration: line-through;
}

.productContainer{
    margin-top: 20px;
    margin-bottom: 26px;
}

.ShoppingListContainer {
    margin-bottom: 23px;
}

.fa-trash-alt {
    color: rgb(43, 41, 39);
    margin-left: 5px;
    font-size: 20px;
}